body { 
    min-height: 2000px;
}
.nav { 
    background-color: green;
    top:0;
    position: sticky;
    z-index:  1;
}

.container { 
    position: relative;
}


img { 
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.center { 
    color: white;
    position: absolute;
    top:50%;
    text-align: center;
    width: 100%;
}